@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700;800;900&display=swap');
:root{
  --white: #fff;
  --black: #111;
  --blue:#3a80e9;
  --grey:#888;
  --darkgrey:#1b1b1b;
 --green: #61c96f;
 --red:#f94141;
}
html{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black);
  color: var(--white);
}

::selection{

}
::-webkit-scrollbar {
  width: 0.3rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--black);

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 3 rem;
}

a{
  color: var(--white)!important;
  text-decoration: none !important;

}

.mobile-Drawer{
  display: none;
}

@media only screen and (max-width: 800px){
  
  .links{
    display: none!important ;
  }

  .mobile-Drawer{
    display: block;
  }
}


.drawer-div{
  width: 40vw;
  background-color: var(--black);
  height: 100vh;
  padding: 1.5rem;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  
  }

  .grey-wapper{
    display: block;
    width: 90%;
    background-color: var(--darkgrey);
    margin: 1.5rem;
   border-radius: 0.5rem;
   padding: 0rem 1rem;
  } 

  .coins-days-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1.5rem;
    gap:2rem ;
  }
  